<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
<body>
  <center>
    <form action="/" method = "post">
      <div style="width: 101.6%;height: 9%;background: brown;margin-top: -1%;margin-left: -1%"></div>
      <table class="tabulka" style="border-top: 20px solid #ff6600;margin-top: 1%">
        <tr>
          <td rowspan="2" align="left" valign="top" width=50%>
            <h1 class="menu" style="font-size: 35px;">MENU</h1>
            {% if alles %}
            <div>
              <input type="submit" name="btn" value="RANAJKY" class="button" style="height: 55px;width: 180px;color: yellow"/>
            </div>
            <div>
              <input type="submit" name="btn" value="HLAVNE JEDLA" class="button"
              style="height: 55px;margin-top: 20px;width: 240px;color: yellow"/>
            </div>
            <div>
              <input type="submit" name="btn" value="POLIEVKY" class="button"
              style="height: 55px;margin-top: 20px;width: 195px;color: yellow"/>
            </div>
            <div>
              <input type="submit" name="btn" value="VECERE" class="button"
              style="height: 55px;margin-top: 20px;width: 180px;color: yellow"/>
            </div>
            <div>
              <input type="submit" name="btn" value="KOLACE A DEZERTY" class="button"
              style="height: 55px;margin-top: 20px;width: 280px;color: yellow"/>
            </div>
            <div>
              <input type="submit" name="btn" value="NAHODNY VYBER" class="button2"
              style="height: 55px;width: 270px;color: yellow"/>
            </div>
            {% endif %}
            {% if nieco == 0 %}
              <input type="submit" name="btn" value="NAHODNE RANAJKY" class="button"
              style="width: 260px;color: yellow"/>
              <input type="submit" name="btn" value="VSETKY RANAJKY" class="button"
              style="width: 260px;color: yellow;margin-top: 2%"/>
            {% endif %}
            {% if nieco == 1 %}
              <input type="submit" name="btn" value="NAHODNE HLAVNE JEDLA" class="button"
              style="width: 300px;color: yellow"/>
              <input type="submit" name="btn" value="VSETKY HLAVNE JEDLA" class="button"
              style="width: 300px;color: yellow;margin-top: 2%"/>
            {% endif %}
            {% if nieco == 2 %}
              <input type="submit" name="btn" value="NAHODNE POLIEVKY" class="button"
              style="width: 260px;color: yellow"/>
              <input type="submit" name="btn" value="VSETKY POLIEVKY" class="button"
              style="width: 260px;color: yellow;margin-top: 2%"/>
            {% endif %}
            {% if nieco == 3 %}
              <input type="submit" name="btn" value="NAHODNE VECERE" class="button"
              style="width: 260px;color: yellow"/>
              <input type="submit" name="btn" value="VSETKY VECERE" class="button"
              style="width: 260px;color: yellow;margin-top: 2%"/>
            {% endif %}
            {% if nieco == 4 %}
              <input type="submit" name="btn" value="NAHODNE KOLACE A DEZERTY" class="button"
              style="width: 350px;color: yellow"/>
              <input type="submit" name="btn" value="VSETKY KOLACE A DEZERTY" class="button"
              style="width: 350px;color: yellow;margin-top: 2%"/>
            {% endif %}
          </td>
          <td align="left" valign="top" height="40%">
            <div class="pravastrana menu" style="font-size: 18px;color: yellow">NAJVYHLADAVANEJSIE</div>
            <div>
              <img style="height: 220px;margin-top: 2%;margin-left: 20px" class="image" src="nwmcotoje.png"/>
              <img style="height: 220px;margin-left: 20px" class="image" src="nwmcotoje.png"/>
            </div>
          </td>
        </tr>
        <tr>  
          <td align="left" valign="top" height="40%">
            <div class="pravastrana menu" style="font-size: 18px;color: yellow">TIP NA DNESNY DEN</div>
            <div>
              <img style="height: 220px;margin-top: 2%;margin-left: 20px" class="image" src={{ fotka }}/>
              <img style="height: 220px;margin-left: 20px" class="image" src="nwmcotoje.png"/>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </center>
</body>
</html>