<head>
    <title>Co budeme jest</title>
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div style="height: 80%;width: 90%">
        {% if html_layout %}
        <form action="/" method = "post">
        {% endif %}
        {% if html_jedlo %}
        <form action="/jedlo" method = "post">
        {% endif %}

            <ul id="horizontal_list" style="position: relative; width: 100%; height: 15%; margin-top: 5%">
                <li style="margin-left: 15vw">
                    <button type="submit" class="button_hornypanel" name="btn" value="DOMOV">
                        <span style="font-size: 4vw">DOMOV</span>
                    </button>
                </li>
                <li style="margin-left: 15vw">
                    <button type="submit" class="button_hornypanel" name="btn" value="PRIDAVANE">
                        <span style="font-size: 4vw">PRIDAVANIE JEDAL</span>
                    </button>
                </li>
                <br>
                <li class="rectangle" style="width: 110%; left: 0; margin-top: 5%"></li>
            </ul>

        <button type="submit" name="btn" value="set_category_all" class="rolldown_button_mobile" style="width: 80%; top: 12.5%; left: 10%"><span>VSETKO</span></button>
        <button type="submit" name="btn" value="set_category_ranajky" class="rolldown_button_mobile" style="left: 10%; margin-top: -2vw"><span>RANAJKY</span></button>
        <button type="submit" name="btn" value="set_category_obed" class="rolldown_button_mobile" style="left: 51%; margin-top: -2vw"><span>OBED</span></button>
        <button type="submit" name="btn" value="set_category_vecera" class="rolldown_button_mobile" style="left: 10%; margin-top: 8vw"><span>VECERA</span></button>
        <button type="submit" name="btn" value="set_category_dezert" class="rolldown_button_mobile" style="left: 51%; margin-top: 8vw"><span>DEZERT</span></button>
      
        <span class="covypisuje" style="width: 80%; left: 10%; font-size: 5vw; height: 9vw; border-width: 2px;">{{ whats_showing }}</span>

        <div style="width: 80%; position: absolute; top: 40%; left: 10%; margin-top: 3.5vw">
            {% for a in list1 %}
                <a href="{{ a.link }}" target="_blank"><button class="jedla_button_mobile" type="button"><span>{{ a.nazov }}</span></button></a>
            {% endfor %}
        <p>&nbsp;</p>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        </form>
    </div>
</body>