
    <ul style="position: absolute;bottom: 0%;left: 8%;list-style-type:none">
        <li>
            <span class="dot"></span>
        </li>
        <li style="margin-left: 6px;">
            <div class="popover__wrapper">
                <span class="span_line">RANAJKY</span>
                <div class="popover__content" style="margin-left: -165px">
                    <button class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">ABECEDNY ZOZNAM</span>
                    </button>
                    <button type="submit" name="btn" value="ranajky_random" class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">NAHODNY VYBER</span>
                    </button>
                </div>
            </div>   
        </li>
        <li style="margin-left: 42.5px">
            <span style="font-size: 30px;">&#9674;</span>
        </li>
    </ul>