<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
<body bgcolor="ffffff">
    <center>
        <form action="/jedlo" method = "post">
            <p class="p">Dnesne jedlo bude : {{ nazov }}</p>
            <p class="p">Kategoria :{{ attribute }}</p>
            <img style="height:300px" class="image" src={{ fotka }} alt="logo"/>
            <p class="p"><a target="_blank" href="{{ link }}">Recept je tuto :)</a></p>
            <input type="submit" name="btn" value="Domov" class="button"/>
            <input type="submit" name="btn" value="Iné jedlo." class="button"/>
        </form>
    </center>
</body>
</html>
