 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="wrapper"></div>
    {% if html_layout %}
    <form action="/" method = "post">
    {% endif %}
    {% if html_jedlo %}
    <form action="/jedlo" method = "post">
    {% endif %}

    <img src="/static/cooking_final.png" style="height:50px; top: 20px; position: absolute;">
    <button type="submit" class="span_line" name="btn" value="DOMOV" style="top: 35px;right: 45%;position: absolute;">
        <span>DOMOV</span>
    </button>
    <button type="submit" class="span_line" name="btn" value="ONAS" style="top: 35px;right: 35%;position: absolute;">
        <span>O NAS</span>
    </button>
    <div class="group" style="position: absolute; top: 20px;right: 0%">      
        <input type="text">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Vyhladavanie</label>
    </div>            

    <div class="rectangle" style="top: 75px"></div>
    {% if html_layout %}
        <img src="/static/cooking_final.png" style="width: 50%;margin-left: 25%;position: absolute;bottom: 50%">
    {% endif %}
    {% if html_jedlo %}
        <a href={{ link }}><h1 class="jedlo">{{ jedlo }}</h1></a>
    {% endif %}
    <button type="submit" class="tlacitko2 tlacitko_fix_center_panel" name="btn" value="zoznam" style="position: absolute;bottom: 40%; right: 52%">
        <div style="margin-top: -8px;">ZOZNAM JEDAL</div>
    </button>
    <button type="submit" class="tlacitko tlacitko_fix_center_panel" name="btn" value="nahodny_vyber_vsetko" style="position: absolute;bottom: 40%; left: 43%;">
        <div style="margin-top: -8px;">NAHODNY VYBER</div>
    </button>
    
    <div class="rectangle" style="height: 27%; bottom: 0%"></div>

    <ul style="position: absolute;bottom: 0%;left: 8%;list-style-type:none">
        <li>
            {% if popover == '0' %}
                <div style="position: absolute;margin-top: -110px;margin-left: -155px">
                    <button class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">ABECEDNY ZOZNAM</span>
                    </button>
                    <button type="submit" name="btn" value="ranajky_random" class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">NAHODNY VYBER</span>
                    </button>
                </div>
            {% else %}
                <span class="dot"></span>
            {% endif %}
        </li>
        <li style="margin-left: 0px;">
            <div style="list-style-type:none">
                <button type="submit" class="span_line" name="btn" value="ranajky_popover"><span>RANAJKY</span></button>
            </div>
        </li>
        <li style="margin-left: 42.5px">
            <span style="font-size: 30px;">&#9674;</span>
        </li>
    </ul>

    <ul style="position: absolute;bottom: 0%;left: 31%;list-style-type:none">
        <li>
            {% if popover == '1' %}
                <div style="position: absolute;margin-top: -110px;margin-left: -155px">
                    <button class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">ABECEDNY ZOZNAM</span>
                    </button>
                    <button type="submit" name="btn" value="obed_random" class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">NAHODNY VYBER</span>
                    </button>
                </div>
            {% else %}
                <span class="dot"></span>
            {% endif %}
        </li>
        <li style="margin-left: 15px;">
            <div style="list-style-type:none">
                <button type="submit" class="span_line" name="btn" value="obed_popover"><span>OBED</span></button>
            </div>
        </li>
        <li style="margin-left: 42.5px">
            <span style="font-size: 30px;">&#9674;</span>
        </li>
    </ul>

    <ul style="position: absolute;bottom: 0%;left: 54%;list-style-type:none">
        <li>
            {% if popover == '2' %}
                <div style="position: absolute;margin-top: -110px;margin-left: -155px">
                    <button class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">ABECEDNY ZOZNAM</span>
                    </button>
                    <button type="submit" name="btn" value="vecera_random" class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">NAHODNY VYBER</span>
                    </button>
                </div>
            {% else %}
                <span class="dot"></span>
            {% endif %}
        </li>
        <li style="margin-left: 5px;">
            <div style="list-style-type:none">
                <button type="submit" class="span_line" name="btn" value="vecera_popover"><span>VECERA</span></button>
            </div>
        </li>
        <li style="margin-left: 42.5px">
            <span style="font-size: 30px;">&#9674;</span>
        </li>
    </ul>

    <ul style="position: absolute;bottom: 0%;left: 77%;list-style-type:none">
        <li>
            {% if popover == '3' %}
                <div style="position: absolute;margin-top: -110px;margin-left: -155px">
                    <button class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">ABECEDNY ZOZNAM</span>
                    </button>
                    <button type="submit" name="btn" value="dezert_random" class="tlacitko2 tlacitka_spodny_panel">
                        <span style="font-size: 15px">NAHODNY VYBER</span>
                    </button>
                </div>
            {% else %}
                <span class="dot"></span>
            {% endif %}
        </li>
        <li style="margin-left: 7.5px;">
            <div style="list-style-type:none">
                <button type="submit" class="span_line" name="btn" value="dezert_popover"><span>DEZERT</span></button>
            </div>
        </li>
        <li style="margin-left: 42.5px">
            <span style="font-size: 30px;">&#9674;</span>
        </li>
    </ul>
</form></body>
