 <head>
    <title>Co budeme jest</title>
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div onclick="destroy_popover()" style="height: 100%;width: 100%">
        {% if html_layout %}
        <form action="/" method = "post">
        {% endif %}
        {% if html_jedlo %}
        <form action="/jedlo" method = "post">
        {% endif %}

            <ul id="horizontal_list" style="position: relative; width: 100%; height: 10%">
                <li>
                    <img src="/static/cooking_final.png" style="width: 20vw;margin-left: -30px; margin-top: -2vw;">
                </li>
                <li style="margin-left: 25vw">
                    <button type="submit" class="button_hornypanel" name="btn" value="DOMOV">
                        <span style="font-size: 1.75vw">DOMOV</span>
                    </button>
                </li>
                <li style="margin-left: 15vw">
                    <button type="submit" class="button_hornypanel" name="btn" value="PRIDAVANE">
                        <span style="font-size: 1.75vw">PRIDAVANIE JEDAL</span>
                    </button>
                </li>
                <br>
                <li class="rectangle" style="width: 100%; left: 0"></li>
            </ul>

            <div style="position: relative; text-align: center; margin-top: 10%">
                {% if html_jedlo %}
                    <a href="{{ link }}" target="_blank"><h1 class="jedlo" style="border-width: 2px;height: 15%; width: 77%; margin-left: 11.5%; font-size: 4vw">
                    <hr style="height:8%; visibility:hidden;" />
                    {{ jedlo }}</h1></a>
                {% endif %}

                {% if html_layout %}
                    <img src="/static/cooking_final.png" style="width: 80%">
                {% endif %}
            
                <button type="submit" class="tlacitko2" name="btn" value="set_category_all" style="border-width: 2px;width: 38.3%; height: 6vh">
                    <div style="font-size: 1.75vw">ZOZNAM JEDAL</div>
                </button>
                <button type="submit" class="tlacitko" name="btn" value="nahodny_vyber_vsetko" style="width: 38.3%; height: 6vh">
                    <div style="font-size: 1.75vw">NAHODNY VYBER</div>
                </button>
            </div>

            <div class="rectangle" style="height: 25vh; bottom: 0"></div>


            
    <ul style="position: absolute; bottom: 0%; margin-left: 9%;list-style-type:none; text-align: center;">
        <li>
            <span class="dot"></span>
            <ul id="ranajky_popover" style="list-style-type:none;" hidden="True">
                <li>
                    <div style="position: absolute;margin-top: -110px;margin-left: -100px">
                        <button  type="submit" name="btn" value="set_category_ranajky" class="tlacitko2 tlacitka_spodny_panel">
                            <span style="font-size: 15px">ABECEDNY ZOZNAM</span>
                        </button>
                        <button type="submit" name="btn" value="ranajky_random" class="tlacitko2 tlacitka_spodny_panel">
                            <span style="font-size: 15px">NAHODNY VYBER</span>
                        </button>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div style="list-style-type:none">
                <span class="button_spodnypanel opener_ranajky" style="font-size: 1.5vw">RANAJKY</span>
            </div>
        </li>
        <li>
            <span style="font-size: 2vw;">&#9674;</span>
        </li>
    </ul>

    <ul style="position: absolute;bottom: 0%;left: 32%;list-style-type:none; text-align: center;">
        <li>
            <span class="dot"></span>
            <ul id="obed_popover" style="list-style-type:none;" hidden="True">
                <li>
                    <div style="position: absolute;margin-top: -110px;margin-left: -100px">
                        <button  type="submit" name="btn" value="set_category_obed" class="tlacitko2 tlacitka_spodny_panel">
                            <span style="font-size: 15px">ABECEDNY ZOZNAM</span>
                        </button>
                        <button type="submit" name="btn" value="obed_random" class="tlacitko2 tlacitka_spodny_panel">
                            <span style="font-size: 15px">NAHODNY VYBER</span>
                        </button>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div style="list-style-type:none">
                <span class="button_spodnypanel opener_obed" style="font-size: 1.5vw">OBED</span>
            </div>
        </li>
        <li>
            <span style="font-size: 2vw;">&#9674;</span>
        </li>
    </ul>

    <ul style="position: absolute;bottom: 0%;left: 55%;list-style-type:none; text-align: center;">
        <li>
            <span class="dot"></span>
            <ul id="vecera_popover" style="list-style-type:none;" hidden="True">
                <li>
                    <div style="position: absolute;margin-top: -110px;margin-left: -100px">
                        <button type="submit" name="btn" value="set_category_vecera" class="tlacitko2 tlacitka_spodny_panel">
                            <span style="font-size: 15px">ABECEDNY ZOZNAM</span>
                        </button>
                        <button type="submit" name="btn" value="vecera_random" class="tlacitko2 tlacitka_spodny_panel">
                            <span style="font-size: 15px">NAHODNY VYBER</span>
                        </button>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div style="list-style-type:none">
                <span class="button_spodnypanel opener_vecera" style="font-size: 1.5vw">VECERA</span>
            </div>
        </li>
        <li>
            <span style="font-size: 2vw;">&#9674;</span>
        </li>
    </ul>

    <ul style="position: absolute;bottom: 0%;left: 78%;list-style-type:none; text-align: center;">
        <li>
            <span class="dot"></span>
            <ul id="dezert_popover" style="list-style-type:none;" hidden="True">
                <li>
                    <div style="position: absolute;margin-top: -110px;margin-left: -100px">
                        <button type="submit" name="btn" value="set_category_dezert" class="tlacitko2 tlacitka_spodny_panel">
                            <span style="font-size: 15px">ABECEDNY ZOZNAM</span>
                        </button>
                        <button type="submit" name="btn" value="dezert_random" class="tlacitko2 tlacitka_spodny_panel">
                            <span style="font-size: 15px">NAHODNY VYBER</span>
                        </button>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div style="list-style-type:none">
                <span class="button_spodnypanel opener_dezert" style="font-size: 1.5vw">DEZERT</span>
            </div>
        </li>
        <li>
            <span style="font-size: 2vw;">&#9674;</span>
        </li>
    </ul>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
    $('#ranajky_popover').removeAttr('hidden');
    $('#obed_popover').removeAttr('hidden');
    $('#vecera_popover').removeAttr('hidden');
    $('#dezert_popover').removeAttr('hidden');
    $('#ranajky_popover').slideUp(0);
    $('#obed_popover').slideUp(0);
    $('#vecera_popover').slideUp(0);
    $('#dezert_popover').slideUp(0);
});

$(document).ready(function() {
    $('.opener_ranajky').click(function(e){
        $('#ranajky_popover').slideDown(0);
    });
            $(window).click(function(e) {
            var container = $('.opener_ranajky');
            if (!container.is(e.target) && container.has(e.target).length == 0) {
                $('#ranajky_popover').slideUp(0);
            }
        });
});

$(document).ready(function() {
    $('.opener_obed').click(function(e){
        $('#obed_popover').slideDown(0);
    });
            $(window).click(function(e) {
            var container = $('.opener_obed');
            if (!container.is(e.target) && container.has(e.target).length == 0) {
                $('#obed_popover').slideUp(0);
            }
        });
});

$(document).ready(function() {
    $('.opener_vecera').click(function(e){
        $('#vecera_popover').slideDown(0);
    });
            $(window).click(function(e) {
            var container = $('.opener_vecera');
            if (!container.is(e.target) && container.has(e.target).length == 0) {
                $('#vecera_popover').slideUp(0);
            }
        });
});

$(document).ready(function() {
    $('.opener_dezert').click(function(e){
        $('#dezert_popover').slideDown(0);
    });
            $(window).click(function(e) {
            var container = $('.opener_dezert');
            if (!container.is(e.target) && container.has(e.target).length == 0) {
                $('#dezert_popover').slideUp(0);
            }
        });
});
</script>






        </form>
    </div>
</body>