<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
<body>
    <center>
        <form action="/login" method = "post">
            <h1>ZADAJ HESLO</h1>
            <input type="text" name="passcode" placeholder="Password.." style="position: static; width: 50%; left: 25%"><br>
            <input type="submit" name="btn" value="Submit" class="tlacitko2" style="position: static; width: 50%; left: 25%;">
        </form>
    </center>
</body>
</html>
