
table {
  width: 100%
}

a{
   text-decoration:none;
   color:#fff;
}

a:hover{
   color:#2ecc71;
}

span{
   font-family: 'Roboto', sans-serif;
   font-weight: normal;
}

html, body{
  height: 100%;
}
body { 
      background-image: url("/static/bg.jpg") ;
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
      background-color: #999;
  
}

div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;  
}

.wrapper {
  height: 98%; 
  width: 100%; 
}

/* Search box ------------------------------- */
.group        {
  position:relative; 
  margin-bottom:45px; 
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:90%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus     { outline:none; }

label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label{
  top:-20px;
  font-size:14px;
  color:#e60000;
}

.bar  { position:relative; display:block; width:90%; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#e60000; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%;   
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:#e60000; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#e60000; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#e60000; }
  to  { width:0; background:transparent; }
}


/* white line */
.rectangle{
  position: absolute;
  width: 101%;
  height: 0.5%;
  margin-left: -0.5%;
  border-style: none;
  background-color: #ffffff;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #bfbfbf;
  border-radius: 50%;
  display: inline-block;
}

/*tlacitko*/
.tlacitko {
  text-align: center;
  cursor: pointer;
  font-size:20px;
  margin: 0 0 0 100px;
  position: relative;
  background-color: #e60000;
  color: #ffffff;
  border: none;
  padding: 20px;
  width: 17.5%;
  height: 50px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.tlacitko:hover{
  background:#ffffff;
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;
}

.tlacitko:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.tlacitko2 {
  text-align: center;
  cursor: pointer;
  font-size:20px;
  color: #000000;
  margin: 0 0 0 100px;
  position: relative;
  background-color: rgba(0,0,0,0);
  border: solid 1px #000000;
  padding: 20px;
  height: 50px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.tlacitko2:hover{
  background:#fff;
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;
}

.tlacitko2:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.tlacitka_spodny_panel{
  background-color: #bfbfbf;
  width: 220px;
  height: 55px;
}

.span_line {
  background-color:rgba(0,0,0,0);
  border-style: none;
  border-bottom: 2px solid rgba(0,0,0,0); 
  color: #000000;
  font-size: 20px;
}

.span_line:hover {
  border-bottom: 2px solid #000000;
}

/* Popover styling */


.popover__wrapper {
    position: relative;
    display: inline-block;
}
.popover__content {
    height: 120px;
    width: 220px;
    background-color: rgba(0,0,0,0);
    margin-left: -55px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0,-250px);
 }
.popover__content:before {
    position: absolute;
    transition-duration: 0.3s;
    transition-property: transform;
}
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0,-135px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.jedlo {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 50%;
  color: #000000;
  border: solid 1px #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;text-align: center;
}

.rolldown_button {
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
  position: relative;
  background-color: rgba(0,0,0,0);
  border: solid 1px #000000;
  padding: 10px;
  height: 50px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  position: absolute;
  top: 15%;
}

.rolldown_button:hover{
  background:#fff;
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;
}

.jinja2 {
  margin-right: -7.5%;
}

.list_style {
  list-style-type:none;
  top: 22%;
  position: absolute;
  text-align: center;
}

.tlacitko_fix_center_panel {
  width: 250px; 
}
